<a href="https://colab.research.google.com/github/xodidrkdlem/practice/blob/main/Untitled3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
def say():
    return 'hi'

a=  say()
print(a)

hi

In [ ]:
def add(a,b):
    print("%d, %d의 합은 %d입니다." %(a,b,a+b))

add(3,4)

3, 4의 합은 7입니다.

In [ ]:
def add(a,b):
    return a+b

result  = add(a=3,b=7)
print(result)

10

In [ ]:
def addtaeyang(*ty):
    result = 0
    for i in ty:
      result = result + i
    return result

result = addtaeyang(1,2,3)
print(result)

result = addtaeyang(1,2,3,4,5,6,7,8,9,10)
print(result)

6
55

In [ ]:
def taeyang(choice,*ty):
    
    if choice == "add":
      result = 0
      for i in ty:
        result = result +i

    elif choice == "mul":
        result = 1
        for i in ty:
          result = result*i

    return result


result = taeyang('add',1,2,3)
print(result)
      
result = taeyang('mul',1,2,3)
print (result)

6
6

In [ ]:
#함수, 입력,출력 없을수 있음
def sum(a,b):
    return a+b
    
a = sum(3,4)
print (a)

7

In [ ]:
def say():
    return "hi"

print(say())

hi

In [ ]:
def add(a,b):
    print("%d,%d의 합은 %d입니다." %(a,b,a+b))

add(4,5)

4,5의 합은 9입니다.

In [ ]:
def sum(*taeyang):  #*붙이면 여러개의 매개변수를 나타내는 것
    sum = 0
    for i in taeyang:
        sum = sum+i
    return sum

print(sum(1,2,3,4,5))

15

In [ ]:
#중요 예제 return 값으로 여러개 올수 있고 모두 튜플로 정리 됨, 인덱싱을 활용해서 함수가 선언한 여러개의 값의 순서를 나타낼수있음.

def sum(a,b):
    return a+b,a*b, a-b

print(sum(1,2)[1])

2

In [ ]:
def a(name,old, man = True):
    print("나의 이름은 %s 입니다." %name)
    print("나이는 %d 입니다." %old)
    if man:
        print ("남자입니다.")
    else:
        print("여자입니다.")

a("이진희", 27,False)

나의 이름은 이진희 입니다.
나이는 27 입니다.
여자입니다.

In [ ]:
a = 2
def v():
  global a
  a = a+1

v()
print(a)

3

In [ ]:
add = lambda a, b: a+ b
result = add(3,4)

print(result)

7

In [ ]:
 #lambda 함수 리스트 형식

 mylist = [lambda a,b : a+b, lambda a,b : a*b]

print(mylist[0](1,2))

3

In [ ]:
#사용자 입력과 출력
number = input("숫자를 입력하세요 : ")

print(number)

숫자를 입력하세요 : 14
14

In [ ]:
for i in range(10):
    print(i,end =' ')

0 1 2 3 4 5 6 7 8 9